@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  /* light theme for future use */
  :root {


    --background-primary: #222A59;
    --background-primary-hover: #384385;
    --background-green-500: #3cd856;
    --text-primary: #222A59;
    --text-primary-hover: #384385;
    --stone-300: #BDBDBD;
    --neutral-400: #a2a2a6;

    
    --foreground-primary: #151416;
    --radius: 1rem;

    --surface-brand: #8758ff;
    --surface-overlay: #313442;
    --surface-foreground: #1f2128;

    --border-primary: #475467;

    --neutral-200: #1e1e24;
    --neutral-500: #8b8b93;
    --neutral-700: #8a8a98;
    --neutral-800: #a9a9b7;
    --neutral-1100: #f1f1f1;
    --transparent: 'transparent';

  
  }

  /* currently in use */
  .dark {

  }
}


@layer base {
    body {
      /* @apply font-poppins; */
    }
  }

  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: 0;
    }
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }