

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Style for individual page items */
  .pagination li {
    margin: 0 2px;
    font-size: smaller;
  }
  
  .pagination li a {
    padding: 5px 8px;
    border: 1px solid #ddd;
    cursor: pointer;
    color: #007BFF;
    text-decoration: none;
  }
  
  .pagination li a:hover {
    background-color: gray;
  }
  
  /* Active page styling */
  .pagination li.active a {
    background-color: gray;
    color: gray;
    border: 1px solid gray;
  }
  
  /* Disabled navigation buttons */
  .pagination li.disabled a {
    color: red;
    cursor: not-allowed;
  }